@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {    
        opacity: 1;
    }
}

.main, .photo, .table-container, .reg, #menu, #menu-toggle {
    animation: fadeIn 1s ease-in-out; 
}

body {
    background: linear-gradient(to bottom, #00c3ff, #fffb00);
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main {
    display: flex;
    flex-direction: column;
    width: 80%; 
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 30px; 
    padding: 20px; 
    background-color: #f0f0f0d8; 
    border: 2px solid #cccccc7a;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    border-radius: 10px;
}

.photo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    max-width: 100%;
}

.photo img {
    max-width: 90%;
    height: auto;
    margin: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
  
.photo h2 {
    margin-top: 1em;
}
  
.photo p {
    text-indent: 1.5em;
    margin: 0em 1em 2em 0em;
    font-size: 20px;
}

.table-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table-container table {
    width: 100%;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    text-align: center;
    padding: 10px; 
    border: 1px solid #ddd; 
}

.table-container h2 {
    text-align: center;
}

.link {
    color: blue;
    margin: 0.5em 0.5em 0.5em 0.5em;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
}

div {
    margin-top: 20px;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
    text-align: center;
}

.list ol, .list ul, .list dl {
    margin-bottom: 20px;
}

.list li {
    margin-bottom: 5px;
}

.list dt {
    font-weight: bold;
    margin-bottom: 3px;
}

.list dd {
    margin-bottom: 10px;
}

.reg {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-top: 3em;
}

.reg div {
    margin-top: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.reg h3 {
    color: #333;
    font-size: 1.2em;
    margin-bottom: 10px;
}

.reg form {
    margin-bottom: 15px;
}

.reg label {
    display: block;
    margin-bottom: 5px;
}

.reg input[type="text"],
.reg input[type="password"],
.reg textarea {
    width: 60%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reg select {
    width: 20%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reg select {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.reg input[type="button"]:hover {
    background-color: #0056b3; 
}

@media only screen and (max-width: 768px) {
    .main {
        width: 75%; 
    }

    .photo {
        max-width: 90%; 
    }

    .table-container {
        max-width: 90%; 
    }

    .reg input[type="text"],
    .reg input[type="password"],
    .reg textarea,
    .reg select {
        width: 90%; 
    }
}

#menu ul {
    text-align: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
   border: 2px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#menu li {
    display: inline-block;
}

#menu li a {
    display: block;
    color: rgb(0, 0, 0);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#menu li a:hover {
    background-color: #d7e4f9;
}

#menu-toggle {
    display: none;
}

header {
    position: relative;
}

@media screen and (max-width: 768px) {
    @media screen and (max-width: 768px) {
        #menu ul {
            display: none;
            position: absolute;
            width: 100%;
            background-color: #f0f0f0d8;
            border: 2px solid #cccccc7a;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            top: 65%;
            left: 82%;
            z-index: 999;
            padding: 0;
        }
    
        #menu ul.active {
            display: block; 
            opacity: 1;
            visibility: visible;
            height: 180px;
            width: 100px;
            animation: fadeIn 0.5s ease forwards;
            font-size: 12px;
            overflow-y: auto; 
        }
    
        #menu ul li {
            float: none;
            text-align: center;
        }
        
        #menu ul li a {
            display: block;
            padding: 14px 16px;
            text-decoration: none;
            color: rgb(0, 0, 0);
        }

        #menu-toggle {
            display: block;
            position: absolute;
            top: 20px;
            left: 89%;
            font-size: 20px;
            background-color: #f0f0f0d8; 
            border: 2px solid #cccccc7a;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
            border: none;
            cursor: pointer;
        }
    
        #menu-toggle:hover {
            background-color: #d7e4f9;
        }
    
        #menu-toggle.active {
            background-color: #9ec0f525;
        }
    }
}

.survey {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
   
}

.survey h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -15px;
}

.survey form {
    display: grid;
    gap: 10px;
}

.survey label {
    font-weight: bold;
}

.survey input[type="text"],
.survey input[type="email"],
.survey textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc58;
    border-radius: 4px;
}

.survey select,
.survey input[type="datetime-local"],
.survey input[type="date"],
.survey input[type="number"],
.survey input[type="range"] {
    width: 100%;
    padding: 8px;
    border: 1px solid #cccccc58;
    border-radius: 4px;
    background-color: white;
}

.survey input[type="color"] {
    width: 25%;
    height: 40px;
    padding: 5px;
    margin: 0 auto;
    border: 1px solid #cccccc58;
    border-radius: 4px;
    background-color: white;
}

.survey input[type="submit"],
.test input[type="submit"],
.reg input[type="button"] {
    padding: 10px 20px;
    background-color: #4caf50;
    color: white;
    margin-bottom: 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
}

.survey input[type="submit"]:hover,
.test input[type="submit"]:hover,
.reg input[type="button"]:hover {
    background-color: #45a049;
}

.survey input[type="radio"],
.survey input[type="checkbox"] {
    margin-right: 5px;
    margin-left: 0;
}

.survey p {
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 5px;
}

form input[type="checkbox"] + label,
form input[type="radio"] + label {
    display: block;
    font-weight: bold;
    margin-top: -28px; 
}

#test-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.test h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    margin-top: -15px;
}

#questions-container {
    margin-bottom: 20px;
}

.question {
    margin-bottom: 10px;
}

.question p {
    margin: 0;
    font-weight: bold;
}

.question ul {
    list-style-type: none;
    padding: 0; 
}

#result-container {
    text-align: center;
}